.productsview {
    padding: 20px 10px;
}
.productsview * {
    font-family: 'Inter';
}
.productsview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.productsview-title {
    font-size: 30px;
    font-weight: 600;
}
.productsview-addbbtn {
    font-size: 18px;
    background-color: #059212;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
    padding: 7px 10px;
}
.productsview-form {
    padding: 20px 50px;
    display: block;
}
.productsview-forminput {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.productsview-forminput div {
    width: 30%;
    border-bottom: 1px solid rgb(0,0,0,0.5);
    text-align: left;
}
.productsview-forminput div input {
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-style: none;
    padding: 10px 0px;
}
.productsview-formbtn {
    display: flex;
    align-items: center;
    justify-content: right;
}
.productsview-formsearchbtn {
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    color: #FFFFFF;
    background-color: #C80036;
    margin-right: 20px;
    cursor: pointer;
}
.productsview-formcancelbtn {
    padding: 7px 15px;
    font-size: 18px;
    border-radius: 20px;
    border-style: none;
    color: #FFFFFF;
    background-color: #BBBBBB;
    cursor: pointer;
}
.productlist-wrapper {
    padding: 0px 10px;
}
.productlist-wrapper table {
    width: 100%;
    border-collapse: collapse;
}
.productlist-wrapper table th {
    background-color: #8E1A1A;
    color: #FFFFFF;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
}
.productlist-wrapper table td {
    text-align: left;
    padding: 10px 10px;
}
.productlist-wrapper table th tr {
    display: flex;
    justify-content: space-between;
}
.productlist-wrapper table tbody tr {
    cursor: pointer;
}
.productlist-wrapper table tbody tr:hover {
    background-color: #E4E2E2;
}
.tabler--sort-ascending {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23F8F8F8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h7m-7 6h7m-7 6h9m2-9l3-3l3 3m-3-3v12'/%3E%3C/svg%3E");
}
.tabler--sort-descending {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23F8F8F8' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h9m-9 6h7m-7 6h7m4-3l3 3l3-3m-3-9v12'/%3E%3C/svg%3E");
}