.popupLoginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border-color: #000000;
    border-style: solid;
    height: 600px;
    width: 400px;
    padding: 10px 10px;
    background-image: url(../assets/media/loginform-bg.jpg);
    background-position: center;
    background-size: cover;
    background-color: gray;
    font-family: 'Inter';
    z-index: 1;
}
.close-btn {
    text-align: right;
}
.header-loginform{
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
}
.logo-loginform{
    width: 170px;
    margin-bottom: 7px;
}
.header-loginform span {
    font-size: 32px;
    font-weight: 600;
}
.loginform{
    margin: 20px 20px;
    text-align: left;
    font-size: 20px;
    border-width: 0.5px;
    height: 270px;
    border-color: #dfd8d8;
    border-style: solid;
    padding: 20px 20px;
}
.form-element {
    margin-bottom: 15px;
}
.form-element1 input, .form-element2 input {
    width: 100%;
    font-size: 18px;
    margin-top: 7px;
    cursor: pointer;
    border-style: none;
    padding: 5px 5px;
    box-sizing: border-box; 
}
.form-element3 input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.form-element4 {
    align-content: center;
    text-align: center;
}
.form-element4 span {
    font-size: 18px;
    font-weight: 600;
    color: #CD1010;
}
.form-element4 button {
    border-radius: 20px;
    border-style: none;
    height: 30px;
    width: 90px;
    font-size: 20px;
    background-color: #C8A1BF;
    cursor: pointer;
    margin-top: 10px
}
.optional-login{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.op1 {
    margin-bottom: 10px;
}
.op1 span a {
    color: #2A2799;
    text-decoration: none;
}
.op2 span a {
    color: #CD1010;
    text-decoration: none;
}
.gg--close-o {
    display: inline-block;
    width: 40px;
    height: 40px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%23000'%3E%3Cpath d='M16.34 9.322a1 1 0 1 0-1.364-1.463l-2.926 2.728L9.322 7.66A1 1 0 0 0 7.86 9.024l2.728 2.926l-2.927 2.728a1 1 0 1 0 1.364 1.462l2.926-2.727l2.728 2.926a1 1 0 1 0 1.462-1.363l-2.727-2.926z'/%3E%3Cpath fill-rule='evenodd' d='M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12m11 9a9 9 0 1 1 0-18a9 9 0 0 1 0 18' clip-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    cursor: pointer;
}
.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #e3e3e3;
    opacity: 0.5;
    z-index: 1;
}